/* Originally create by Kiryu | https://www.kiryu.it | mail@nekomimi.it */
/* Revised by RainySummer | https:/rainysummer.top | hi@rainysummer.top */

body {
    font-family: "-apple-system", BlinkMacSystemFont, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "メイリオ", "Hiragino Kaku Gothic ProN", "MS PGothic", Osaka, "sans-serif";
    color: black;
    background-color: black;
    user-select: none;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#flame {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#flame img {
    width: 60%;
}

#container {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#head {
    color: white;
    font-family: Georgia, "游明朝", "Yu Mincho", "游明朝体", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho ProN", "MS P明朝", "MS PMincho", HGS明朝E, "MS Mincho", serif;;
}

form {
    margin-top: 50px;
}

#text {
    width: 280px;
    font-size: 18px;
    padding: 1%;
}

button {
    font-size: 16px;
    width: 60px;
}

p {
    color: white;
    font-size: 24px;
}

audio {
    display: none;
}
